.title {
    padding-top: 10%;
    margin-right: 5%;
    color: lemonchiffon;
    font-family: "Poppins", sans-serif;
    border-bottom: solid 1px lemonchiffon;
    text-align: left;

}


.main {
    background-color: #120a2f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    padding: 5% 10% 0 10%
}

@media (min-width: 600px) {
    .main {
      flex-wrap: nowrap;
    }

}

imgContainer {
  
    padding: 5%
}
@media (min-width: 600px)
 {
      
    .imgContainer {

    max-height: 90%;
      width: 55%;
      margin-top: 3rem;
      padding: 10%;
    }
    .imgContainer:hover  {
        opacity: 1;
    }

	}
    .img {
        display: block;
        width: 100%;
        min-width: 100%;
        max-height: 100%;
        border-radius: 10%;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
    .img:hover {
        -webkit-filter: none;
        filter: none;
    }

.p {
    color:lightgreen;
    font-family: 'Montserrat', sans-serif;
    margin: 5% 10% 5% 10%;
    text-align: justify;
}

.text {
    order: -1;
}

@media (min-width: 700px) {
    .text {
        width: 45%;
    }
    
}

imgRoom {
    padding: 5%
}
@media (min-width: 600px)
 {
      
    .imgRoom {
      width: 55%;
      padding-top: 30px;
     
    }
    .imgRoom:hover  {
        opacity: 1;
    }

	}
    .hobby {
        margin: 5px;
    }

    .skills {
        letter-spacing: 0.5rem;
        color: lightgreen;
    }