.cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    padding: 5% 10% 20% 10%;
  }
  @media (min-width: 600px) {
    cardsContainer {
      flex-wrap: nowrap;
    }
	card {
		flex-basis: 25%;
	  }

	}

.card {
	
	padding: 1rem;
	border: 3px solid #ff00ea;
	border-radius: 2%;
	font-weight: bold; 
	background-color: rgba(80, 50, 114, 0.328);
}
.card:hover {
	background-color: black;
}

@media (min-width: 600px) {
	.card {
	  width: 25%;
	}
}

.title {
	color: palevioletred
}
.imgContainer {
    border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	border-bottom: solid 3px indigo;
	width: 100%

}
@media (min-width: 600px)
 {
    /* .imgContainer {
      width: 55%;
      padding-top: 30px;
    }  */

	}
    .img {
        display: block;
        width: 100%;
        min-width: 100%;
		
	object-fit: cover;
    }

/* .caption {
	display: flex;
} */


.img {
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
}
  	
  

  .what {
	margin-bottom: 10%;
	min-height: 6rem;
	max-width: 80%;
	color:limegreen
  }

  .more  {
	  background-color: deeppink;
	  color: black;
	  border: solid 2px deeppink;
	  padding: 5% 5%;
	  margin: 2rem 5% 2% 30%;
	  border-radius: 10%;
	  min-width: 50%
  }

  .more:hover {
background-color: black;
border: solid 2px deeppink;
color: deeppink
  }
  

  