.container {
    padding: 5% 0 200px 0;
    display: flex;
    flex-direction: column;
    
}

.name {
    color: #fbc0ff;
    font-size: 900%;
}

.btn {
    padding: 5%;
    color: white;
    background-color: deeppink;
    border-radius: 10%;
    font-weight: bolder;
    max-width: 30%;
}

  