.footer {
    background-color: rgba(135, 207, 235, 0.61);
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
}

.copy {
    color: white;
    font-weight: bold;
    align-self: center;
    margin-bottom: 0;
    padding: 2.5rem;
}