.container {
  padding: 35% 0 200px 0;
    display: flex;
    flex-direction: column; 
}

.pro {
    margin: 0 5% 2% 5%;
    padding: 5% 5% 5% 5%;
    max-width: 90%;
    color: limegreen;
    background-color: black;
    text-align: justify;
    border-top-right-radius: 10px;
    border-top-left-radius: 20px; 
   border-bottom-right-radius: 25px;
    border-bottom-left-radius: 15px; 
    font-family: 'Poppins', sans-serif;

}

.span {
    color: black;
    transition: 0.5s;
  background-size: 150% auto;
    background-image: linear-gradient(
        to right,
        #ff5100 0%,
        #ff008c 51%,
        #6a0b77 100%
      );
      border-radius: 5px; 
      font-weight: bolder;
}

.span:hover {
  background-image:     linear-gradient(
    to right, 
    #E7484F,
    #F68B1D, 
    #FCED00,
    #009E4F,
    #00AAC3,
    #732982
  );
animation:slidebg 2s linear infinite;
padding: 2%
}

.owl {
  transition: 0.5s;
}
.owl:hover {
  font-size: 200%;
}

.de {
  color: #ffe600;
  transition: 0.5s;
}

.de:hover {
  color: black;
  background-color: red;
  padding: 2%;
  border-radius: 10%;
}


@keyframes slidebg {
  to {
    background-position:20vw;
  }
}