.pro {
    margin: 0 25% 100% 25%;
    padding: 5% 5% 5% 5%;
    max-width: 50%;
    color: green;
    background-color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 15px;

}

.span {
    color: black;
    background-image: linear-gradient(
        to right,
        #ff5100 0%,
        #ff008c 51%,
        #6a0b77 100%
      );;
      border-radius: 5px; 
}