.header {
  background-color: #5f0b76;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}


a {
    color: white;
    text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #d606d9;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #d606d9;
}

.linkToPage {
  margin-right: 10%
}