.header {
    background-color: deeppink;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;


}


a {
    color: white;
    text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #4f0761;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #4f0761;
}